.BackBtn {
  background-color: rgba(255, 255, 255, 0.02);
  border: none;
  cursor: pointer;
  padding: 0;
  height: 10%;
}
.BackBtn img {
  max-width: 20%;
}
.BackBtn img:hover {
  transform: scale(1.04);
}
