@font-face {
  font-family: poppins-regular;
  src: url("./poppins-regular.ttf");
}
@font-face {
  font-family: poppins-semibold;
  src: url("./poppins-semibold.ttf");
}
@font-face {
  font-family: poppins-bold;
  src: url("./poppins-bold.ttf");
}
@font-face {
  font-family: poppins-regular;
  src: url("./poppins-regular.ttf");
}

h1 {
  font-family: poppins-bold;
  font-size: 4.8rem;
  line-height: 150%;
}
h2 {
  font-family: poppins-semibold;
  font-size: 2.4rem;
  line-height: auto;
}
p {
  font-family: poppins-semibold;
  font-size: 2.4rem;
  line-height: auto;
}

main {
  height: 100vh;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: black;
  font-family: poppins-regular;
}

button {
  border: 1px solid black;
  padding: 1rem 2rem;
  font-family: poppins-regular;
  background-color: white;
  font-weight: 900;
  font-size: 1.8rem;
  color: rgb(54, 54, 54);
  cursor: pointer;
}
